


.container {
  background: radial-gradient(rgba(46, 4, 236, 0.85), rgba(0, 51, 80, 0.8));
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
